/node_modules
/public/hot
/public/storage
/public/files/*
/public/files/*.doc
/public/files/*.docx
/public/files/*.xls
/public/files/*.xlsx
/public/files/*.pdf
/public/files/*.png
/public/files/*.jpg
/public/files/*.zip
/public/files/*.rar
/public/js/control/documentos/guias_remision/gr_adjuntos/*
/public/js/control/documentos/guias_remision/gr_selladas/*
/public/js/control/documentos/guias_remision/permisos/sustentos/*
/public/js/control/documentos/guias_remision/permisos_old/sustentos/*
/public/js/control/documentos_old/*
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
