@charset "UTF-8";

label,
.nav-item a.nav-link {
  color: #000 !important;
  font-weight: 590;
}

body {
  background-color: #f2f2f2;
  color: #212529;
}

body .login-box {
  width: 32vw;
  height: auto;
}

.login-page {
  background-color: #f2f2f2;
}

.login-box-body {
  border: 1px solid #eaeced;
  padding: 50px 80px;
}

.login-img {
  padding: 10px;
}

.login-img img {
  border: 0;
}

.login-header {
  text-align: center;
}

.login-page .login-name {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.login-page .login-name h3 {
  color: #db2828;
  font-weight: 700;
  font-family: "Open Sans";
  margin: 0;
}

.login-page .has-feedback .form-control {
  padding-left: 42.5px;
}

.login-page .form-control-feedback {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.login-page .form-control:active,
.login-page .form-control:focus {
  border: 1px solid #ccc;
}

.btn-okc-login,
.btn-okc-login:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.footer-login {
  background: #f8f8f9;
  line-height: 1.5em;
  padding: 1em 1.5em;
  margin: 1em 0;
  border: 1px solid #ddd;
  border-radius: 0.28571429rem;
  text-align: center;
}

.footer-login a {
  margin-left: 10px;
}

@media (max-width: 968px) {
  body .login-box {
    width: 90vw !important;
  }

  .login-box-body {
    padding: 30px;
  }
}

/*Botón para ocultar el menú lateral*/

.main-header .sidebar-toggle:before {
  content: none;
}

/* Scroll */

::-webkit-scrollbar {
  width: 9px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

.swal2-image {
  border: none !important;
}

.select2-dropdown {
  z-index: 999999;
}

.swal2-html-container,
.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel,
.swal2-styled.swal2-deny {
  font-size: 14px !important;
}

.label-badge {
  font-size: 10px;
}
.select-filter {
  margin: 0 15px;
}

/*  ESTILOS PARA LOADER (BARRA SUPERIOR EN CADA SOLICITUD) */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff000d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff000d, 0 0 5px #ff000d;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 50%;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #ff000d;
  border-left-color: #ff000d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dropdown-menu,
.btn.dropdown-toggle {
  font-size: 12px;
}

/* FIN ESTILOS PARA LOADER (BARRA SUPERIOR EN CADA SOLICITUD) */

/* COLORES */

.bg-navy {
  background-color: #001f3f !important;
}

.bg-olive {
  background-color: #3d9970 !important;
}

.bg-purple {
  background-color: #605ca8 !important;
}

.bg-maroon {
  background-color: #d81b60 !important;
}

.bg-blue {
  background-color: #337ab7 !important;
  color: #fff;
}

.bg-green {
  background-color: #02a202;
}

.bg-orange {
  background-color: orange;
}

.bg-navy:active {
  background-color: #001a35 !important;
}

.bg-olive:active {
  background-color: #368763 !important;
}

.bg-purple:active {
  background-color: #555299 !important;
}

.bg-maroon:active {
  background-color: #ca195a !important;
}

.bg-blue:active {
  background-color: #246ba7 !important;
}

.blue {
  color: #3232f8;
}

.red {
  color: #fe2525;
}

.green {
  color: #02a202;
}

.yellow {
  color: #e3de06;
}

.purple {
  color: #605ca8;
}

.orange {
  color: orange;
}

/* Submenu */
.skin-home .wrapper {
  background-color: #f2f2f2;
}
.skin-home .main-footer {
  margin-left: 0;
}

.okc-content {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.okc-content .content .container {
  margin-top: 20px;
}

.okc-content .panel-heading {
  padding: 15px 20px;
}

.okc-content .panel-body {
  height: 80px;
  margin-bottom: 0.75rem;
}

.panel-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #007bff;
  text-decoration: none;
}

.panel-link:hover {
  color: #007bff;
}

.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 20px;
}

.numero {
  text-align: right;
}

.td-blue {
  color: #000;
  background: #caf8fc;
}

/* Menu de acciones*/

.option-function {
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 2px 0.5px #ddd;
  display: flex;
}

.btn-okc {
  color: #000;
  background: #fff;
  outline: 0;
  width: 80px;
  padding: 3px;
  cursor: pointer;
  border: none;
  border-right: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}

.btn-okc:disabled {
  cursor: no-drop;
  color: #adabab;
}

.btn-okc i {
  padding: 10px;
}

.page-main {
  width: 100%;
  color: #000;
}

/*.page-main h5,
.page-main input,
.page-main select,
.page-main textarea {
    font-size: 13px;
}*/

/*
.page-main *{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
} */

.page-main i,
.page-main span.icon-span-filestyle {
  /* font-family: "Font Awesome 5 Free"; */
}

.page-main span.glyphicon-folder-open:before {
  font-family: "Glyphicons Halflings";
}

.page-main .input-group-text i {
  font-size: 16px;
  padding: 4px;
}

label.btn-primary > span {
  color: #fff;
}

.modal .input-group-text i {
  font-size: 16px;
  padding: 3px;
}

.page-main legend {
  border-bottom: 2px solid #ddd;
}

.page-main h2 {
  margin: 10px 0;
  font-size: 17px;
  font-weight: bold;
}

/*.page-main .form-control {
    height: 32px;
    border-radius: 5px;
    font-size: 13px;
    border-radius: 0;
}*/

.page-main .row {
  margin-bottom: 10px;
}

.page-main textarea.form-control,
.modal textarea.form-control {
  height: 100px;
  resize: none;
}

/*.table-okc-view{
    width: 100%;
    font-family: 'Open Sans' , sans-serif;
    font-size: 13px;
}*/

.table-okc-view thead {
  background-color: #57616a;
  color: #fff;
  font-weight: bolder;
}

/*.table-okc-view thead tr th,
.table-okc-view tbody tr td{
    padding: 5px;
}*/

/*.table-okc-view tbody{
    background-color: #fff;
}*/

/* dataTables */

/*.modal .dataTables_wrapper{
    font-size: 13px;
    font-family: 'Open Sans' , sans-serif;
}
.modal .dataTables_wrapper table thead,
.page-main .dataTables_wrapper table thead{
    background-color: #57616a;
    color: #fff;
}
.modal .dataTables_wrapper table tbody tr,
.page-main .dataTables_wrapper table tbody tr{
    background-color: #fff;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_filter{
    margin-top: 25px;
}
.dataTables_wrapper .dataTables_filter label{
    width: 100%;
}*/

#planex .select2-container--default .select2-selection--single {
  border-radius: 0;
}

#planex .select2-container .select2-selection--single {
  height: 32px;
}

#reporte-visual {
  padding: 10px;
  overflow-x: scroll;
  background-color: #fff;
}

#reporte-visual table td,
#reporte-visual table td input {
  font-size: 11px;
}

.namehora {
  width: 300px !important;
  font-size: 11px;
}

.mihora {
  width: 30px;
  font-size: 11px !important;
  text-align: center;
}

.mihorafinal {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.deshabilitado {
  background-color: #ebebe4;
}

/*#productosSugeridos_wrapper .dataTables_filter label input[type="search"],
#productosCatalogo_wrapper .dataTables_filter label input[type="search"]{
    width: 300px;
}*/

/*.modal #listaProducto_processing{
    top: 70%;
    text-align: center;
    z-index: 9999;
    border: none;
    background: transparent !important;
}*/

/*
.dataTables_wrapper .dataTables_length{
    width: 50%;
    display: inline-block;
    text-align: left;
}
.dataTables_wrapper .dt-buttons{
    float: none;
    width: 50%;
    display: inline-block;
    text-align: right;
}
.dataTables_wrapper .dt-buttons .btn{
    float: none;
}
.dataTables_wrapper .dataTables_length select,
.dataTables_filter label input[type="search"]{
    border-radius: 4px;
}
.dataTables_wrapper table tbody{
    font-size: 12px;
}*/

.modal button span i {
  font-size: 18px;
}

button.btn-default span i.fa-file-pdf {
  color: #c11f1f;
}

button.btn-default span i.fa-file-excel {
  color: #2bb62d;
}

button.btn-default span i.fa-copy {
  color: #2b70b6;
}

span.fa,
span.fas {
  font-family: "Font Awesome 5 Free";
}

span .glyphicon {
  font-family: "Glyphicons Halflings";
}

.table-focus {
  background-color: red;
}

.eventClick {
  background-color: #d9edf7 !important;
}

.page-main .flexDiv {
  display: flex;
  justify-content: flex-start;
}

.page-main .flexDiv input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-main .flexDiv button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-name {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}

#tablaDiario {
  background-color: #fff;
}

#tablaDiario tbody input[type=time] {
  width: 75px;
}

/* Spinner Loading */

.spinner,
.spinner:after {
  width: 64px;
  height: 64px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  border-radius: 50%;
}

.spinner {
  background-color: transparent;
  border-top: 10px solid #428bca;
  border-right: 10px solid #428bca;
  border-bottom: 10px solid #428bca;
  border-left: 10px solid rgba(66, 139, 202, 0.2);
  transform: translateZ(0);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-name: spinner-loading;
          animation-name: spinner-loading;
}

@-webkit-keyframes spinner-loading {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

/* Tabs */

.page-main .nav-tabs li a {
  color: #000;
  font-size: 13px;
}

.page-main .nav-tabs li.active a {
  font-weight: bold;
}

.content-tabs {
  background-color: #fff;
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.input-group-okc {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-okc > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-okc .input-group-text {
  display: flex;
  align-items: center;
  padding: 3px 10px;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

ul.nav-tabs li {
  cursor: pointer;
}

.group-table {
  font-size: 11px;
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}


.page-main table,
.modal table{
  font-size: 11px;
}
.page-main table tbody,
.modal table tbody{
  font-size: 12px;
}

table.table tbody tr td {
  vertical-align: middle;
}

.container-okc {
  width: 96%;
  margin: auto;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

.form-check-label {
  font-weight: normal;
}

/* Estilos de cada formulario*/

#informacion {
  width: 80%;
}

/* Imagenes */

img {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

.card-img-product {
  width: 78%;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #ddd;
}

legend.mylegend {
  display: flex;
  justify-content: space-between;
  font-size: 12.5px;
}

legend.mylegend .breadcrumb {
  margin: 0px 0;
}

/* Rocio */

.input-new {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.boton,
.botonList {
  padding: 3px 6px;
}

.botonList,
.botonList:hover {
  color: #fff;
}

.inferior {
  margin-bottom: 10px;
}

.group-importes legend {
  background: #57616a;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.group-importes legend h6 {
  font-size: 14px;
  font-weight: bold;
}

.group-importes {
  border: 1px solid #ced4da;
  margin-top: 15px;
}

.table-group {
  width: 100%;
  background: white;
}

#acu-totales tr td:first-child {
  width: 200px;
}

#acu-totales tr td:last-child {
  text-align: right;
}

.table-group tr td {
  padding: 6px;
}

.table-group tfoot {
  border-top: 1px solid #343a40;
}

#antiguos tr td:first-child {
  text-align: center;
  font-size: 15px;
}

#detalle thead tr th,
#oc thead tr th,
#guias thead tr th,
#listaDetalle thead tr th {
  background: #57606a;
  border: 1px solid #f4f4f4;
  padding: 6px;
  font-weight: normal;
}

.group-unidad legend {
  border: 1px solid #ced4da;
  margin-bottom: 0px;
}

span.select2-container {
  width: 100% !important;
  font-size: 12px;
}

span.select2-selection {
  height: 32px;
}

#listaDetalleOC,
#listaBarras,
#listaDetalleIng {
  font-size: 13px;
}

#listaDetalleOC thead,
#listaBarras thead,
#listaDetalleIng thead {
  background-color: #e5e5e5;
}

#listaDetalleOC thead tr th,
#listaBarras thead tr th,
#listaDetalleIng thead tr th {
  padding: 5px;
  text-align: left;
}

#listaDetalleOC tbody tr td,
#listaBarras tbody tr td,
#listaDetalleIng tbody tr td {
  padding: 5px;
  text-align: left;
}

#listaDetalleOC tbody,
#listaBarras tbody,
#listaDetalle tbody,
#listaDetalleIng tbody {
  background-color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.input-data {
  width: 100%;
  height: 27px;
  font-size: 12px;
}

.icon-tabla {
  font-size: 20px;
  width: 23px;
  cursor: pointer;
}

.oculto {
  display: none !important;
}

.invisible {
  display: none;
}

.visible {
  display: inline-block;
}

.invisible {
  display: none;
}

.group-elemento {
  border-radius: 0px !important;
  padding: 4px;
}

.desactiva {
  pointer-events: none;
}

.tabla-totales {
  margin: 7px;
}

.tabla-totales tbody tr td,
.tabla-totales tfoot tr td {
  padding: 2px;
}

.tabla-totales tbody tr td input,
.tabla-totales tfoot tr td input {
  text-align: right;
  height: 30px;
}

.porcen {
  text-align: right;
  width: 50px;
  height: 30px;
}

.importe {
  text-align: right;
  width: 120px;
  height: 30px;
}

.tabla-totales tfoot tr td {
  border-top: 1px solid #000;
}

#contrato tbody tr td input,
#contrato tbody tr td select {
  padding: 6px 6px;
  font-size: 12px;
  height: 30px;
}

.partidas {
  font-family: "Source Sans Pro";
}

.borde-group-verde {
  width: 100%;
  border: 1px solid #398439;
  background-color: #c4e5b8;
  color: #398439;
  border-radius: 4px;
  padding: 5px;
}

.borde-group-rojo {
  width: 100%;
  border: 1px solid #f3381b;
  background-color: #f9bdb4;
  color: #f3381b;
  border-radius: 4px;
  padding: 5px;
}

#kardexGeneral tbody tr td,
#kardex_producto tbody tr td,
#listaSaldos tbody tr td,
#listaIngresos tbody tr td,
#listaSalidas tbody tr td,
#listaBusquedaIngresos tbody tr td,
#listaBusquedaSalidas tbody tr td {
  font-size: 11px;
}

#kardexGeneral tbody td:nth-last-child(13),
#kardexGeneral tbody td:nth-last-child(11),
#kardexGeneral tbody td:nth-last-child(12),
#listaMttoPendientes tbody td:nth-last-child(5),
#listaMttoPendientes tbody td:last-child,
#listaSaldos tbody td:nth-last-child(2),
#listaTransformacionesPendientes tbody td:nth-last-child(5),
#listaOpcionesTodo tbody td:nth-last-child(6),
#listaOpcionesTodo tbody td:nth-last-child(7),
#listaOpcionesTodo tbody td:nth-last-child(8),
#listaOpcionesTodo tbody td:nth-last-child(9) {
  background: #ffffb0;
}

#kardexGeneral tbody td:nth-last-child(10),
#kardexGeneral tbody td:nth-last-child(8),
#kardexGeneral tbody td:nth-last-child(9),
#listaTransferenciasPorRecibir tbody td:nth-last-child(5),
#listaTransferenciasPorRecibir tbody td:nth-last-child(6),
#listaTransferenciasPorEnviar tbody td:nth-last-child(8),
#listaTransferenciasPorEnviar tbody td:nth-last-child(7),
#listaOpcionesTodo tbody td:nth-last-child(10),
#listaOpcionesTodo tbody td:nth-last-child(11),
#listaOpcionesTodo tbody td:nth-last-child(12),
#listaDocsProrrateo tbody td:nth-last-child(12),
#listaPromocion tbody td:nth-last-child(5),
#listaGuiasTransportistas tbody td:nth-last-child(11),
#listaGuiasTransportistas tbody td:nth-last-child(10),
#listaGuiasTransportistas tbody td:nth-last-child(7),
#listaGuiasTransportistas tbody td:nth-last-child(8),
#listaGuiasTransportistas tbody td:nth-last-child(9) {
  background: #d8fcfc;
}

.subtitulo_blue {
  color: blue !important;
}

.subtitulo_red {
  color: red !important;
}

.lbl-codigo:hover {
  color: #007bff !important;
  cursor: pointer;
}

.lbl-codigo {
  color: #3c9ad2  !important;
}

.resaltar {
  background: #c8fbfb;
  color: #000;
  font-size: 11px;
}

.group-rrhh {
  border: 1px solid #ced4da;
  margin-top: 15px;
}

.group-rrhh legend {
  background: #57616a;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.group-rrhh legend h6 {
  font-size: 14px;
  font-weight: bold;
}

#listaCargo tbody td:nth-child(4),
#listaCargo tbody td:nth-child(5),
#listaPensiones tbody td:nth-child(4),
#listaPensiones tbody td:nth-child(5),
#listaPensiones tbody td:nth-child(6),
#listaPensiones tbody td:nth-child(7) {
  text-align: right;
}

.table-result-form thead tr th:first-child,
.table-result-form tbody tr td:first-child {
  display: none;
}

.table-result-form tbody tr:hover {
  cursor: pointer;
}

/*#my-report-table_wrapper .dt-buttons{
    float: none;
    width: 100%;
    display: inline-block;
    text-align: right;
}*/

/* Select2*/

span.select2-container {
  width: 100% !important;
  font-size: 12px;
}

span.select2-selection,
form .select2-container .select2-selection--single {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 0;
}

form .select2-container .select2-selection--single {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 0;
}

/* CONFIGURACION */

/*#listaModulo_filter label input[type="search"],
#listaAplicaciones_wrapper label input[type="search"]{
    width: 90%;
}
#listaUsuarios_wrapper .dataTables_filter label input[type="search"]{
    width: 88%;
}
#listaTrabajadorUser_wrapper .dataTables_filter label input[type="search"]{
    width: 82%;
}*/

.flexAccion {
  display: flex;
  justify-content: space-between;
}

/*#listaTrabajadorUser_wrapper .dataTables_filter,
#listaUsuarios_wrapper .dataTables_filter{
    margin-top: 0;
}*/

.name-okc,
.role-okc {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
}

.modal .modal-content {
  border-radius: 0;
}

#mostrar-arbol,
#mostrar-arbol ul,
#mostrar-arbol li {
  position: relative;
}

#mostrar-arbol li {
  padding: 3px 0;
  cursor: pointer;
}

#mostrar-arbol ul.ul-nivel1 {
  display: none;
}

#mostrar-arbol ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mostrar-arbol ul li.firstNode ul {
  padding: 0 5rem;
}

#mostrar-arbol li::before,
#mostrar-arbol li::after {
  content: "";
  position: absolute;
  left: -15px;
}

#mostrar-arbol li::before {
  border-top: 2px solid #79828a;
  top: 13px;
  width: 15px;
  height: 0;
}

#mostrar-arbol li::after {
  border-left: 2px solid #79828a;
  height: 100%;
  width: 0px;
  top: 2px;
}

#mostrar-arbol li.firstNode::before,
#mostrar-arbol li.firstNode::after {
  border: none;
}

#mostrar-arbol ul > li:last-child::after {
  height: 13px;
}

.my-custom-scrollbar {
  position: relative;
  height: 90px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

#MonitorDePartida {
  font-size: 1.1rem;
}

.wd-15rem {
  width: 15rem;
}

.wd-45rem {
  width: 45rem;
}

.vertical-align-m {
  vertical-align: middle !important;
}

.box-scroll {
  overflow: scroll;
  height: 450px;
}

.badge-light {
  position: absolute !important;
  top: 9px !important;
  left: 21px !important;
  font-size: 9px;
  background: indianred;
}

#ListaReq tbody tr:hover {
  background: #f1f1f1;
}

#ListaReq tr td,
#ListaReq tr td button,
#listaIngresos tr td,
#listaIngresos tr td button,
#listaSalidas tr td,
#listaSalidas tr td button,
#listaBusquedaIngresos tr td,
#listaBusquedaIngresos tr td button {
  font-size: 11.5px;
}

#ListaReq tr td {
  vertical-align: middle;
}

/*#ListaReq_wrapper td center i{
    font-size: 20px;
}

#ListaReq_wrapper td center .btn-group i{
    font-size: .75em;
}*/

.btn-log {
  border-radius: 0;
  color: #fff !important;
}

.imagen {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 5px;
}

#ListaDetalleRequerimiento thead {
  border-bottom: 1px solid #ddd;
}

#ListaDetalleRequerimiento tr th,
#ListaDetalleRequerimiento tr td {
  padding: 4px 6px;
  font-size: 12px;
}

.alert-okc {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
}

.alert-okc-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #dd9ca7;
}

.alert-okc-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #a4dde9;
}

.alert-okc-primary {
  color: #1c5c92;
  background-color: #c3dbe8;
  border-color: #7da2c1;
}

.alert-okc-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #abcf8d;
}

.alert-okc-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #f0d8a8;
}

#tabPanel .panel {
  margin-bottom: 0;
}

#tabPanel .tab-pane {
  border: 1px solid #ddd;
  border-top: 0;
}

.negrita {
  font-weight: bold;
  font-size: 1.5rem;
}

.loading {
  width: 25px !important;
  padding: 5px !important;
}

.text-animate {
  color: #5cb85c;
  opacity: 1;
  font-weight: bold;
  transition-property: opacity;
  transition-duration: 3s, 3s;
}

.textRedStrikeHover {
  color: #a52d1f;
  text-decoration: line-through;
}

.transition {
  opacity: 0;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.box-shadow:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blockquoteObservation {
  border-left: 5px solid #c7c715;
  cursor: pointer;
}

.blockquoteObservation:hover {
  border-color: #efef12;
}

.okc-cc {
  width: 100%;
  display: block;
  padding: 6.5px 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.okc-cc:first-child {
  border-top: 0;
}

.okc-niv-1 {
  font-weight: bold;
  background-color: #dedbdb;
}

.okc-niv-2 {
  padding-left: 10px;
}

.okc-niv-3 {
  padding-left: 30px;
}

.okc-niv-4 {
  padding-left: 70px;
}

.okc-niv-3,
.okc-niv-4 {
  font-style: italic;
  cursor: pointer;
}

.btn-box-tool,
.box .box-solid > .box-header .btn {
  color: #999 !important;
}

.okc-box-title,
.sidebar-collapse .okc-box-title p {
  display: block;
}

.okc-box-title p,
.sidebar-collapse .okc-box-title {
  display: none;
}

.sidebar-collapse .box-header > .box-tools {
  position: relative;
}

.sidebar-collapse .box-header .box-title {
  display: none;
}

.table-small tbody tr th,
.table-small tbody tr td {
  padding: 0px;
  border-top: 0px solid #ddd;
}

#btnVolverArriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btnVolverArriba:hover {
  background-color: #8e1c1c;
}

.nested_task .gantt_add,
.gantt_grid_scale .gantt_grid_head_add {
  display: none !important;
}

.gantt_layout_cell .grid_cell {
  width: 320px !important;
}

@media (max-width: 768px) {
  .main-header > .navbar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .pace .pace-activity {
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
  }

  nav li.info-docs {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
}

/* Timeline */

.timeline-item {
  min-width: 170px !important;
  height: 285px !important;
}

.timeline-horizontal {
  padding: 0px !important;
}

.borderfuxia {
  border-color: #b22550 !important;
  padding: 5px !important;
  width: 140px !important;
}

.bordergreendark {
  border-color: #047480 !important;
  padding: 5px !important;
  width: 140px !important;
}

.bordergreenlight {
  border-color: #59ba1f !important;
  padding: 5px !important;
  width: 140px !important;
}

.borderyellow {
  border-color: #c2af03 !important;
  padding: 5px !important;
  width: 140px !important;
}

.borderdark {
  border-color: #3f3f3f !important;
  padding: 5px !important;
  width: 140px !important;
}

.borderorange {
  border-color: #f55a12 !important;
  padding: 5px !important;
  width: 140px !important;
}

.bgfuxia {
  background-color: #b22550 !important;
}

.bggreendark {
  background-color: #047480 !important;
}

.bggreenlight {
  background-color: #59ba1f !important;
}

.bgyellow {
  background-color: #d1bd10 !important;
}

.bgdark {
  background-color: #3f3f3f !important;
}

.bgorange {
  background-color: #f55a12 !important;
}

.colorfuxia {
  color: #b22550 !important;
}

.colorgreendark {
  color: #047480 !important;
}

.colorgreenlight {
  color: #59ba1f !important;
}

.coloryellow {
  color: #d1bd10 !important;
}

.colordark {
  color: #3f3f3f !important;
}

.colororange {
  color: #f55a12 !important;
}

.celestito {
  background-color: #d0f6ff;
  color: #000;
}

table thead th {
  text-align: center;
  vertical-align: middle !important;
}

#btnVolverArriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btnVolverArriba:hover {
  background-color: #8e1c1c;
}
