* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

/* Login */
body .login-box {
    width: 410px;
}
.login-box-logo {
    width: 100%;
    text-align: center;
}
.login-box-body {
    border: 1px solid #b7b7b7;
    box-shadow: 0px 0px 10px 2px #ababab;
}
.login-box-msg {
    font-size: 17px;
    padding: 0 20px 40px 20px;
}
.login-box-body h5 {
    font-weight: 600;
}
.login-box-body .icheck label {
    font-weight: 600;
}
/* Base */
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    font-size: 15px;
}

/* Estilos propios */
.default-link,
.default-link:active,
.default-link:hover,
.default-link:focus {
    color: #222;
}
.dataTables_wrapper .dataTables_filter {
    text-align: right;
}
.input-group-addon.btn {
    color: #fff;
}