/*
 * Skin: OKC
 * ---------
 */
 .skin-okc .main-header .navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
}
.skin-okc .main-header .navbar .nav > li > a {
  color: #666;
}
.skin-okc .main-header .navbar .nav > li > a:hover,
.skin-okc .main-header .navbar .nav > li > a:active,
.skin-okc .main-header .navbar .nav > li > a:focus,
.skin-okc .main-header .navbar .nav .open > a,
.skin-okc .main-header .navbar .nav .open > a:hover,
.skin-okc .main-header .navbar .nav .open > a:focus,
.skin-okc .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #666;
}
.skin-okc .main-header .navbar .sidebar-toggle {
  color: #666;
}
.skin-okc .main-header .navbar .sidebar-toggle:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #666;
}
.skin-okc .main-header .navbar .sidebar-toggle {
  color: #666;
}
.skin-okc .main-header .navbar .sidebar-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .skin-okc .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-okc .main-header .navbar .dropdown-menu li a {
    color: white;
  }
  .skin-okc .main-header .navbar .dropdown-menu li a:hover {
    background: #d73925;
  }
}

.skin-okc .main-header .logo {
  background-color: white;
  color: #666;
  border-bottom: 0 solid transparent;
}
/*.skin-okc .main-header .logo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}*/
.skin-okc .main-header li.user-header {
  background-color: #e5e5e5;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p{
  color: #070707;
}
.skin-okc .content-header {
  background: transparent;
}
.skin-okc .wrapper,
.skin-okc .main-sidebar,
.skin-okc .left-side {
  background-color: #8f1c1c;
}
.skin-okc .user-panel > .info,
.skin-okc .user-panel > .info > a {
  color: white;
}
.skin-okc .sidebar-menu > li.header {
  color: white;
  /*background: #621313;*/
}
.skin-okc .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-okc .sidebar-menu > li:hover > a,
.skin-okc .sidebar-menu > li.active > a,
.skin-okc .sidebar-menu > li.menu-open > a {
  /*color: white;*/
  /*background: rgba(0, 0, 0, 0.2);*/
  background:#741414;
}
.skin-okc .sidebar-menu > li.active > a {
  border-left-color: #dd4b39;
}
.skin-okc .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  /*background: rgba(0, 0, 0, 0.3);*/
  background: #641414;
}
.skin-okc .sidebar a {
  color: white;
}
.skin-okc .sidebar a:hover {
  text-decoration: none;
}
.skin-okc .sidebar-menu .treeview-menu > li > a {
  color: #f2f2f2;
  margin-left: 20px;
}
.skin-okc .sidebar-menu .treeview-menu > li.active > a,
.skin-okc .sidebar-menu .treeview-menu > li > a:hover {
  color: white;
  font-weight: bold;
}
.skin-okc .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-okc .sidebar-form input[type="text"],
.skin-okc .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-okc .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-okc .sidebar-form input[type="text"]:focus,
.skin-okc .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-okc .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-okc .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}